Source: nxcomp
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Matthew Johnson <mjj29@debian.org>
Build-Depends: debhelper (>=7), automake, autoconf, zlib1g-dev, libjpeg-dev, libpng-dev, libstdc++6-4.6-dev | libstdc++6-4.5-dev | libstdc++6-4.4-dev, x11proto-core-dev
Standards-Version: 3.8.4
Section: x11

Package: qvd-libxcomp3
Section: x11
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libxcomp3
Breaks: nxagent
Description: NX X compression library
 NX provides a differential X compression library for X11.
 .
 This package provides the compression library that QVD uses

Package: qvd-libxcomp-dev
Section: libdevel
Conflicts: libxcomp-dev
Breaks: nxagent
Architecture: any
Depends: qvd-libxcomp3 (= ${binary:Version}), ${misc:Depends}
Description: NX X compression library---headers
 NX provides a differential X compression library for X11.
 .
 This package provides the compression library headers that used by QVD. 

