Package: qvd-libnx-xorg
Source: qvd-nxagent
Version: 3.5.0-2build4
Architecture: amd64
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Installed-Size: 1507
Depends: libc6 (>= 2.15), qvd-libxcomp3
Conflicts: nxlibs
Section: x11
Priority: extra
Description: NX support libraries
 NX is a X server for remote access. It implements a very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, providing a near local experience.
 .
 This package contains the libraries needed by different NX agents
