Package: qvd-libxcompext-dev
Source: qvd-nxagent
Version: 3.5.0-2build4
Architecture: amd64
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Installed-Size: 87
Depends: qvd-libxcompext3 (= 3.5.0-2build4), qvd-libxcomp-dev, x11proto-core-dev, libx11-dev
Conflicts: libxcompext-dev
Section: libdevel
Priority: extra
Description: NX X11 protocol compression extensions library
 NX is a software suite from NoMachine which implements very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, especially a slow one.
 .
 libXcompext extends the core NX library with additional features.
 .
 This package contains the development files for the nxcompext library.
